body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.puzzleRow:nth-child(3n) {
  margin-bottom: 12px;
}

.puzzleCell {
  display: inline-block;
  position: relative;
  width: calc((100% - 48px) / 9);
  margin-right: 3px;
}

.puzzleCell:nth-child(3n) {
  margin-right: 15px;
}

.puzzleCell.guess {
  box-shadow: inset 0px 0px 0px 2px #000 !important;
}

.puzzleCell.symbol {
  background: #D3D3D3;
}

.puzzleCell.symbol.guess {
  box-shadow: inset 0px 0px 0px 1px #000 !important;
}

.emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-48%, -50%);
}

.puzzleRow .puzzleCell:last-of-type {
  margin-right: 0;
}

.puzzleCell:before {
  content: '';
  display: block;
  padding-top: 100%; /* ratio of 1:1 */
}

.colorButtonRow { 
  display: 'block';
  width: 100%;
  text-align: center;
}

.colorButton { 
  padding: 0;
  border-radius: 0;
  width: calc((100% - 45px) / 10);
  margin-right: 5px;
  border: none;
  position: relative;
}

.colorButton.erase {
  background: transparent;
  position: relative;
}

.colorButton:last-of-type {
  margin-right: 0;
}

.colorButton:before {
  content: '';
  display: block;
  padding-top: 100%; /* ratio of 1:1 */
}

.controls {
  text-align: center;
  margin-top: 20px;
}